.card {
  border-radius: 15px;
}

.input-group-text {
  color: #6c757d;
}

.form-select, .form-control {
  padding: 12px;
  border: 1px solid #dee2e6;
}

.form-select:focus, .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.05);
}

.btn-primary {
  padding: 12px;
  font-weight: 500;
  border-radius: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.list-group-item-action:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.z-3 {
  z-index: 1030;
}